In [1]:
from Backend import database

In [2]:
db = database.init_db ()

In [5]:
data = {'timestamp': '123755',
        'city': 'Oba',
        'country': 'NG',
        'description': 'cloud',
        'temp': 32.2,
        'humidity': 70,
        'pressure': 23,
        'wind': 23.2,
        'long': 34.3,
        'lat': 32.2}

database.insert_weather_data (db, data)

True

In [9]:
dd = database.get_weather_data (db, '123655')
for d in dd:
    print (d['timestamp'])
    print (data['city'])
    print (data['country'])
    print (data['description'])
    print (data['temp'])
    print (data['humidity'])
    print (data['pressure'])
    print (data['wind'])
    print (data['long'])
    print (data['lat'])

123655
Oba
NG
cloud
32.2
70
23
23.2
34.3
32.2

In [13]:
database.delete_weather_data (db, '123456')

True

In [17]:
dd = database.get_all_weather_data (db)
for data in dd:
    print (data['timestamp'])
    print (data['city'])
    print (data['country'])
    print (data['description'])
    print (data['temp'])
    print (data['humidity'])
    print (data['pressure'])
    print (data['wind'])
    print (data['long'])
    print (data['lat'])
    print ('***************\n')

123455
Oba
NG
cloud
32.2
70
23
23.2
34.3
32.2
***************

123555
Oba
NG
cloud
32.2
70
23
23.2
34.3
32.2
***************

123755
Oba
NG
cloud
32.2
70
23
23.2
34.3
32.2
***************

In [25]:
dd = database.get_weather_data (db, '123755')
if dd:
    print (dd[0]['country'])

NG

In [27]:
data = database.get_all_weather_data (db)
if data:
        dd = [
            {
            "timestamp": row["timestamp"],
            "city": row["city"],
            "country": row["country"],
            "description": row["description"],
            "temp": row["temp"],
            "humidity": row["humidity"],
            "pressure": row["pressure"],
            "wind": row["wind"],
            "long": row["long"],
            "lat": row["lat"]
            } for row in data
        ]

In [28]:
dd

[{'timestamp': '123455',
  'city': 'Oba',
  'country': 'NG',
  'description': 'cloud',
  'temp': 32.2,
  'humidity': 70,
  'pressure': 23,
  'wind': 23.2,
  'long': 34.3,
  'lat': 32.2},
 {'timestamp': '123555',
  'city': 'Oba',
  'country': 'NG',
  'description': 'cloud',
  'temp': 32.2,
  'humidity': 70,
  'pressure': 23,
  'wind': 23.2,
  'long': 34.3,
  'lat': 32.2},
 {'timestamp': '123755',
  'city': 'Oba',
  'country': 'NG',
  'description': 'cloud',
  'temp': 32.2,
  'humidity': 70,
  'pressure': 23,
  'wind': 23.2,
  'long': 34.3,
  'lat': 32.2}]

In [33]:
row = database.get_weather_data (db, '123755')
if row:
    dd = {
            "timestamp": row[0]["timestamp"],
            "city": row[0]["city"],
            "country": row[0]["country"],
            "description": row[0]["description"],
            "temp": row[0]["temp"],
            "humidity": row[0]["humidity"],
            "pressure": row[0]["pressure"],
            "wind": row[0]["wind"],
            "long": row[0]["long"],
            "lat": row[0]["lat"]
        }

In [34]:
dd

{'timestamp': '123755',
 'city': 'Oba',
 'country': 'NG',
 'description': 'cloud',
 'temp': 32.2,
 'humidity': 70,
 'pressure': 23,
 'wind': 23.2,
 'long': 34.3,
 'lat': 32.2}